In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

**Importing the dataset**

In [2]:
df=pd.read_csv("Social_Network_Ads.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df1=df.drop(["User ID",'Gender'],axis=1)
df1

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

**Splitting the dataset into the Training set and Test set**

In [6]:
feature_cols=['Age','EstimatedSalary']
X=df1[feature_cols]
y=df1['Purchased']

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=.2, train_size=.8, random_state=1, shuffle=True, stratify=None)

**Feature Scaling**

In [8]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler();
X_train=sc_X.fit_transform(X_train);
X_test=sc_X.transform(X_test);

**Fitting K-NN to the Training set**

In [9]:
knn = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2, algorithm='auto')

In [10]:
knn = knn.fit(X_train,y_train)

**Predicting the Test set results**

In [11]:
y_pred = knn.predict(X_test)

In [13]:
y_pred

array([0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [15]:
y_test

398    0
125    0
328    1
339    1
172    0
      ..
347    1
41     0
180    0
132    0
224    0
Name: Purchased, Length: 80, dtype: int64

**Making the Confusion Matrix**

In [16]:
confusion_matrix(y_test, y_pred)

array([[40,  8],
       [ 3, 29]], dtype=int64)

In [17]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred, labels=[0,1]).ravel()

In [18]:
print("tn :",tn,"fp :",fp,"fn :",fn,"tp :",tp)

tn : 40 fp : 8 fn : 3 tp : 29

In [19]:
(tp+tn)/(tp+tn+fn+fp)

0.8625